<div class="quotes">
  <% @quotes.each do |quote| %>
  <div class="row">
    <div class="col s12">
      <div class="card teal darken-2">
        <div class="card-content white-text">
          <p><%= quote.quote_string %></p>
        </div>
        <div class="card-action">
          <i><%= quote.book_title %> by <%= quote.book_author %></i>
          <span>(<%= quote.vote_count %>), <%= link_to 'Upvote', quotes_upvote_path(quote) %><%= link_to 'Downvote', quotes_downvote_path(quote) %></span>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <span class="center"><%= will_paginate @quotes %></span>
</div>
