<%= form_for @quote do |f| %>
  <% if flash[:quote_errors] %>
    <ul>
      <% flash[:quote_errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
  <p>
    <%= f.label :passage %><br>
    <%= f.text_field :passage %>
  </p>
  <p>
    <%= f.label :book_title %><br>
    <%= f.text_field :book_title %>
  </p>
  <p>
    <%= f.label :book_author %><br>
    <%= f.text_field :book_author %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
