<div class="form">
  <%= form_for @quote do |f| %>
    <% if flash[:quote_errors] %>
      <ul>
        <% flash[:quote_errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="row">
      <div class="col s12">
        <%= f.label :quote, class: "white-text" %><br>
        <%= f.text_field :quote_string %>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <%= f.label :book_title, class: "white-text" %><br>
        <%= f.text_field :book_title %>
      </div>
      <div class="col s6">
        <%= f.label :book_author, class: "white-text" %><br>
        <%= f.text_field :book_author %>
      </div>
    </div>

    <p>
      <%= f.submit "Submit", class: "btn waves-effect waves-light teal darken-2" %>
    </p>
  <% end %>
</div>
