<!DOCTYPE html>
<html>
<head>
  <title>Bookquotes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/analytics' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body><br><br>
    <header>
      <nav><br><br>
          <% if user_signed_in? %>
            Logged in as <%= current_user.email %>
            <%= link_to 'Edit profile', edit_user_registration_path %> |
            <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'Sign up', new_user_registration_path %> |
            <%= link_to 'Login', new_user_session_path %>
          <% end %>
      </nav>
    </header>
    <div class="contents">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
